# EditorConfig is universal: https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,props,targets}]
indent_size = 2

[*.xml]
indent_size = 2

[*.json]
indent_size = 2

[*.{md,yml,yaml}]
indent_size = 2
trim_trailing_whitespace = false

# C# conventions
[*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:suggestion
