################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Vue项目文件
dist/
node_modules/
webpack/

# Visual Studio项目文件
.vs/
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Pp]ublish/
PublishScripts/
PublishProfiles/
*.user

# 自定义项目文件
[Gg]enerator/
[Gg]enerated/

# 需要特殊处理的文件
/net/Scm.Api/logs/
/net/Scm.Api/dev/
/net/Scm.Api/quartz/settings/logs/
/net/Scm.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
