################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# IDE相关文件
.git/
.gitcode/
.gitee/
.github/
.qoder/
.vs/
.vscode/

# Visual Studio项目文件
.vs/
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Pp]ublish/
PublishScripts/
PublishProfiles/
*.user

# 自定义项目文件
[Gg]enerator/
[Gg]enerated/

# 需要特殊处理的文件

# Misc
.DS_Store